            <!-- BEGIN footer -->
            <div id="footer">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center">
                        <p>2016 · <a href="recunchomaker.org">recunchomaker.com</a> · <a href="mailto:robik@recunchomaker.org">robik@recunchomaker.org</a></p>
<a href="http://creativecommons.org/licenses/by-sa/4.0/" rel="license">Licencia Creative Commons Attribution-ShareAlike 4.0</a>

</p>

                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-right">
                <a href="https://facebook.com/recunchomaker"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
                <a href="https://twitter.com/RecunchoMaker"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
                <a href="https://flickr.com/recunchomaker"><i id="social-fl" class="fa fa-flickr fa-3x social"></i></a>
                    </div>
                </div>
            </div>
                                  
